@keyframes heart-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes sparks {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes narrow-moving {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(4px);
  }
}
